body {
  background: linear-gradient(to left, lime 8px, red 77%, cyan);
}
.time {
  border: 0.5px solid rgb(60, 137, 160);
  border-radius: 15px;
  padding: 5px 5px;
  box-shadow: 5px 5px 5px red;
  display: inline-block;
}
